#form-bottom{
display: flex;
flex-direction: column;
border:2px solid red;
}
#form-top{
    border:2px solid green;
    width:100%;
}
#fname,#lname{
    width:49%;
}
#container{
    width:60%;
    display:flex;
    flex-direction: column;
    
}